html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'futuraNewDemi Req';
  src: url("../fonts/FuturaNewDemi.otf");
}
@font-face {
  font-family: 'futuraNewLiqht Req';
  src: url("../fonts/FuturaNewLight.otf");
}
@font-face {
  font-family: 'futuraNewBold Req';
  src: url("../fonts/FuturaNewBold.otf");
}
@font-face {
  font-family: 'futuraNewMedium Req';
  src: url("../fonts/FuturaNewMedium.otf");
}
@font-face {
  font-family: 'futuraNewBook Req';
  src: url("../fonts/FuturaNewBook.otf");
}
@font-face {
  font-family: 'futuraNewHeavy Req';
  src: url("../fonts/FuturaNewHeavy.otf");
}
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  color: #323232;
  font-size: 1rem;
  line-height: 1.3;
  background: #fff;
  font-family: 'futuraNewLiqht Req';
}

h1 {
  float: left;
  display: block;
  color: #dd1f26;
  font-size: 2rem;
  font-family: 'futuraNewDemi Req';
}

.sitebarLeft h3 {
  color: #323232;
  font-size: 0.77778rem;
  position: relative;
  font-family: 'futuraNewDemi Req';
}

a {
  color: #323232;
  display: inline-block;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

img, iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

section ul {
  line-height: 1.66667rem;
  margin-left: 1.11111rem;
  margin-top: -0.55556rem;
}
section p {
  margin-bottom: 1.11111rem;
}
section span {
  color: #323232;
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'futuraNewDemi Req';
}
section h2 {
  color: #253172;
  font-size: 1.05556rem;
  line-height: 1.05556rem;
  margin-bottom: 0.38889rem;
  padding-top: 0.55556rem;
}
section h3 {
  font-size: 1.27778rem;
  line-height: 1.27778rem;
  margin-bottom: 0.38889rem;
  padding-top: 0.55556rem;
  font-family: 'futuraNewDemi Req';
}
section h4 {
  font-size: 1.27778rem;
  line-height: 1.27778rem;
  margin: 1.11111rem 0;
}

aside {
  padding-bottom: 4.44444rem;
}

section:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

address {
  display: inline-block;
}
address a {
  color: #c41c21;
  text-decoration: underline;
}
address a:hover {
  text-decoration: none;
}

a[href^="mailto"] {
  color: #c41c21;
  text-decoration: underline;
}
a[href^="mailto"]:hover {
  text-decoration: none;
}

.textCenter {
  text-align: center;
}
.textCenter h1, .textCenter h2, .textCenter h3, .textCenter h4, .textCenter p, .textCenter span {
  text-align: center;
}

.spr-sprite, .minus, .minusRed, .activeSitebarLeft .minus, .close, .down, .evro, .insure, .logoMin, .point, .search, .tel, .up, .usd, .times, .bannerContribution, .bannerIcon, .bannerInsureMax {
  background-image: url('../img/spr-s392899559e.png');
  background-repeat: no-repeat;
}

.minus {
  background-position: 0 -414px;
}

.minusRed, .activeSitebarLeft .minus {
  background-position: 0 -415px;
}

.close {
  background-position: 0 -318px;
}

.down {
  background-position: 0 -331px;
}

.evro {
  background-position: 0 -340px;
}

.insure {
  background-position: 0 -358px;
}

.logoMin {
  background-position: 0 -388px;
}

.point {
  background-position: 0 -416px;
}

.search {
  background-position: 0 -422px;
}

.tel {
  background-position: 0 -437px;
}

.up {
  background-position: 0 -540px;
}

.usd {
  background-position: 0 -549px;
}

.times {
  background-position: 0 -507px;
}

.bannerContribution {
  background-position: 0 0;
}

.bannerIcon {
  background-position: 0 -225px;
}

.bannerInsureMax {
  background-position: 0 -289px;
}

.container {
  max-width: 65.61111rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 65.61111rem;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
head:hover ~ .container, head:hover ~ body .container {
  position: relative;
}
head:hover ~ .container:before, head:hover ~ body .container:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 100%, rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 100%, rgba(0, 0, 0, 0) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 100%, rgba(0, 0, 0, 0) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 6.66667%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}

.headerTop, .headerBottom {
  text-align: center;
}
.headerTop a, .headerBottom a {
  text-decoration: none;
  display: block;
}

.headerTop {
  height: 2.77778rem;
  line-height: 2.77778rem;
  box-shadow: 0 1px 0.27778rem rgba(0, 0, 0, 0.13);
  color: #8d8d8d;
  text-transform: uppercase;
}
.headerTop a {
  font-size: 0.94444rem;
  color: #8d8d8d;
  text-decoration: none;
}
.headerTop a:hover, .headerTop a:focus {
  text-decoration: underline;
}

.headerNav {
  width: 53.33333%;
  float: left;
}
.headerNav li {
  width: 20%;
  float: left;
  border-left: 1px solid #f8f8f8;
}
.headerNav li:last-child {
  border-right: 1px solid #f8f8f8;
}

.headerSubNav {
  width: 46.66667%;
  float: left;
}

.searchMain, .city {
  width: 50%;
  float: left;
  border-right: 1px solid #f8f8f8;
}
.searchMain i, .city i {
  display: inline-block;
}

.city {
  font-size: 0.77778rem;
}
.city:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.city p {
  display: block;
  float: left;
}
.city span {
  display: block;
  font-size: 1.16667rem;
  color: #000;
  font-family: 'futuraNewDemi Req';
}

.search {
  height: 0.83333rem;
  width: 0.83333rem;
  margin-right: 0.55556rem;
}

.triangle {
  height: 0;
  width: 0;
  border: 6px transparent solid;
  border-top-color: #000;
  display: inline-block;
}

.city {
  border-left: 1px solid #f8f8f8;
}
.city .triangle {
  border-top-color: #000;
  vertical-align: middle;
  margin-left: 0.33333rem;
}

.headerMiddle {
  height: 7.77778rem;
}
.headerMiddle figure {
  width: 46.66667%;
  float: left;
  padding-top: 0.86111rem;
}
.headerMiddle img {
  width: 100%;
  height: auto;
  display: block;
}

.contact {
  width: 15rem;
  height: 4.44444rem;
  margin-top: 2.38889rem;
  float: right;
  text-align: right;
  font-family: 'futuraNewDemi Req';
}
.contact span, .contact p {
  display: block;
  margin: 0;
}
.contact span {
  color: #c8c8c8;
  line-height: 1.05556rem;
  font-size: 0.83333rem;
}
.contact p {
  color: #000;
  font-size: 1.38889rem;
  margin: 0;
}
.contact div {
  display: block;
  float: left;
}
.contact:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.tel {
  height: 3.88889rem;
  width: 3.88889rem;
  margin-bottom: 0.27778rem;
  display: block;
  float: right;
}

.menuHeaderBottom {
  border-bottom: 4px solid #cc3333;
  font-family: 'futuraNewDemi Req';
}
.menuHeaderBottom:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.menuHeaderBottom .triangle {
  border-top-color: #fff;
  margin-bottom: -0.16667rem;
  margin-left: 0.72222rem;
}
.menuHeaderBottom li {
  width: 20%;
  float: left;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.11111rem;
  position: relative;
  border-left: 1px solid #575e87;
}
.menuHeaderBottom li:last-child {
  border-right: 1px solid #575e87;
}
.menuHeaderBottom a {
  background: #28357a;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75), 0 0 5px rgba(255, 255, 255, 0.16);
}
.menuHeaderBottom a:hover {
  background: #ce1d23;
}
.menuHeaderBottom .subHeaderBottom {
  top: 3rem;
  right: 0;
  left: 0;
  position: absolute;
  border-bottom: none;
  width: 100%;
  font-family: 'futuraNewMedium Req';
}
.menuHeaderBottom .subHeaderBottom li {
  height: auto;
  line-height: 0.77778rem;
  font-size: 0.77778rem;
  border-bottom: 1px solid #575e87;
  clear: left;
  display: block;
  width: 100%;
}
.menuHeaderBottom .subHeaderBottom li:last-child {
  border-bottom: none;
}
.menuHeaderBottom .subHeaderBottom a {
  background: #28357a;
  color: #fff;
  text-align: left;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75), 0 0 5px rgba(255, 255, 255, 0.16);
  padding: 0.83333rem 1.38889rem;
}
.menuHeaderBottom .subHeaderBottom a:hover {
  background: #ce1d23;
}

.title {
  height: 3.88889rem;
  line-height: 3.88889rem;
  border-bottom: 1px solid #e8e8e8;
}
.title:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.Breadcrumbs {
  float: right;
  font-size: 0.72222rem;
  text-transform: uppercase;
}
.Breadcrumbs a {
  text-decoration: none;
  color: #323232;
  margin: 0 0.55556rem;
}
.Breadcrumbs a:hover, .Breadcrumbs a:focus {
  text-decoration: underline;
}
.Breadcrumbs a:last-child {
  margin-right: 0;
}

.sitebarLeft {
  width: 26.66667%;
  float: left;
}
.sitebarLeft menu {
  padding-left: 1.55556rem;
  padding-top: 1.44444rem;
}
.sitebarLeft ul {
  padding-left: 1.11111rem;
  font-size: 0.72222rem;
  line-height: 1.27778rem;
  font-family: 'futuraNewBook Req';
}
.sitebarLeft li {
  position: relative;
}
.sitebarLeft a {
  text-decoration: none;
  color: #323232;
}
.sitebarLeft a:hover, .sitebarLeft a:focus {
  text-decoration: underline;
}

.minus {
  display: inline-block;
  position: absolute;
  left: -1.11111rem;
  top: 0.63889rem;
  height: 1px;
  width: 0.44444rem;
}

.activeSitebarLeft a {
  color: #000;
}

.point {
  height: 0.33333rem;
  width: 0.33333rem;
  display: inline-block;
  position: absolute;
  left: -0.72222rem;
  top: 0.16667rem;
}

.currency {
  text-transform: uppercase;
  margin-top: 3.16667rem;
}
.currency:first-child {
  margin-top: 1.38889rem;
}
.currency:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.currency h3 {
  font-size: 0.88889rem;
  color: #333366;
  margin: 0;
  background: #fff;
  font-family: 'futuraNewDemi Req';
  display: inline-block;
  padding-right: 0.55556rem;
}
.currency span {
  font-size: 0.61111rem;
  color: #9b9b9b;
  font-family: 'futuraNewBook Req';
}
.currency table {
  margin-top: 1.11111rem;
  font-size: 1.22222rem;
  color: #323232;
  text-align: right;
}
.currency th, .currency td {
  position: relative;
  margin-bottom: 0.55556rem;
  padding-right: 1.11111rem;
  padding-left: 1.38889rem;
}
.currency td:first-child {
  width: 6.94444rem;
  text-align: left;
  padding-left: 2.72222rem;
}
.currency td {
  text-align: center;
}
.currency th {
  font-size: 0.61111rem;
  line-height: 1.44444rem;
  color: #969696;
  width: 4.05556rem;
}

.usd, .evro {
  position: absolute;
  display: inline-block;
  height: 1rem;
  width: 1.5rem;
  left: 0;
  bottom: 0.27778rem;
}

.down, .up {
  position: absolute;
  display: inline-block;
  height: 0.5rem;
  width: 0.72222rem;
  right: 0;
  bottom: 0.55556rem;
}

.lineBlue {
  height: 2px;
  background: #333366;
  margin-top: -0.55556rem;
}

article {
  width: 73.33333%;
  float: left;
  padding-top: 1.16667rem;
  padding-left: 5.69767%;
  padding-bottom: 4.44444rem;
}
article:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
article .currency:first-child {
  margin-top: 0;
  margin-bottom: 1.94444rem;
}

footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 0.66667rem;
  margin-bottom: 3.22222rem;
  font-family: 'futuraNewBold Req';
}
footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.preFooter {
  text-align: center;
  position: relative;
  margin-bottom: 2.38889rem;
  font-family: 'futuraNewLiqht Req';
}
.preFooter a {
  display: inline-block;
  text-decoration: none;
  color: #1c1c1c;
  font-size: 0.83333rem;
  margin-left: 1.38889rem;
}
.preFooter a:hover, .preFooter a:focus {
  text-decoration: underline;
}
.preFooter a:first-child {
  margin-left: 0;
}

.above {
  display: table;
  margin: 0 auto;
  background: #fff;
  z-index: 2;
  position: relative;
}

.line {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0.61111rem;
  z-index: 0;
  background: #d7d9e6;
}

.middleFooter1 {
  width: 26.66667%;
  float: left;
}
.middleFooter1 p {
  color: #28357a;
  font-size: 0.77778rem;
}
.middleFooter1 span {
  color: #8c8c8c;
  line-height: 0.88889rem;
}

.middleFooter2, .bottomFooter2 {
  width: 26.66667%;
  float: left;
  padding-left: 4.48772%;
}

.logoMin {
  height: 1.44444rem;
  width: 7.55556rem;
}

.middleFooter3 {
  width: 46.66667%;
  float: right;
  margin-right: 0;
  color: #28357a;
  text-transform: uppercase;
  font-family: 'futuraNewLiqht Req';
}

.bottomFooter1 {
  width: 26.66667%;
  float: left;
  clear: left;
  margin-top: 1.22222rem;
}
.bottomFooter1 a {
  color: #262262;
}
.bottomFooter1 address {
  display: inline-block;
}

.bottomFooter2 {
  margin-top: 1.66667rem;
}

.insure {
  height: 30px;
  width: 194px;
}

.bottomFooter3, .bottomFooter4 {
  margin-top: 1.66667rem;
  width: 20%;
  float: left;
}
.bottomFooter3 span, .bottomFooter4 span {
  color: #28357a;
  text-decoration: underline;
}

.bottomFooter4 {
  width: 26.66667%;
  float: right;
  margin-right: 0;
}

.important {
  font-size: 1.22222rem;
  font-family: 'futuraNewDemi Req';
}
.important:first-child {
  margin-top: 0;
}

.tabs {
  margin-top: 1.83333rem;
}
.tabs .tabsTitle {
  border-bottom: #e8e8e8 solid 1px;
  margin-bottom: 0.83333rem;
}
.tabs .tabsTitle li {
  font-size: 1.27778rem;
  line-height: 1.27778rem;
  display: inline-block;
  padding-right: 1.55556rem;
  margin-top: 1.94444rem;
  padding-bottom: 0.83333rem;
  font-family: 'futuraNewDemi Req';
}
.tabs .tabsTitle li:last-child {
  padding-right: 0;
}

.tabs_container a {
  font-size: 0.83333rem;
  line-height: 1.66667rem;
  display: inline-block;
}

.activeTabs a {
  color: #dd1f26;
}

.dohodniVi {
  font-family: 'futuraNewDemi Req';
}
.dohodniVi > tbody > tr {
  border-bottom: 1px solid #e8e8e8;
  line-height: 0.88889rem;
}
.dohodniVi > tbody > tr:last-child {
  border-bottom: none;
}
.dohodniVi > tbody > tr:first-child td {
  font-size: 1.22222rem;
}
.dohodniVi > tbody > tr > th {
  font-size: 0.83333rem;
  line-height: 0.88889rem;
  width: 36.32236%;
  padding: 0.88889rem 0;
  padding-right: 0.88889rem;
  font-family: 'futuraNewLiqht Req';
}
.dohodniVi > tbody > tr > td {
  font-size: 0.77778rem;
  line-height: 0.77778rem;
  color: #000;
  padding: 0.88889rem 0;
}
.dohodniVi table {
  width: 100%;
}
.dohodniVi table thead {
  font-family: 'futuraNewLiqht Req';
  text-transform: uppercase;
  font-size: 0.61111rem;
}
.dohodniVi table th {
  width: auto;
  color: #dd1f26;
  font-family: 'futuraNewDemi Req';
  font-size: 0.77778rem;
  line-height: 0.77778rem;
  padding: 0.55556rem 0;
}
.dohodniVi table td:first-child {
  width: 26.80222%;
}
.dohodniVi table td {
  font-size: 0.77778rem;
  line-height: 0.77778rem;
  color: #000;
  padding: 0.66667rem 0;
  padding-right: 0.5rem;
}

.importantUp {
  font-size: 1.05556rem;
  font-family: 'futuraNewDemi Req';
  margin: 2.66667rem 0;
}

.insurance {
  font-size: 0.83333rem;
  line-height: 1.11111rem;
}
.insurance:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.insurance img {
  float: left;
  margin-right: 0.88889rem;
  margin-bottom: 0.88889rem;
}

.linkRed {
  margin-left: 0;
}
.linkRed a {
  color: #dd1f26;
  font-size: 1.27778rem;
  line-height: 2.27778rem;
  font-family: 'futuraNewDemi Req';
  text-decoration: underline;
}
.linkRed a:hover {
  text-decoration: none;
}

.footnote {
  font-size: 0.83333rem;
  line-height: 1.11111rem;
}

.importantBlue {
  font-family: 'futuraNewDemi Req';
  color: #232f6c;
}

.lineGray {
  background: #e8e8e8;
  height: 1px;
  margin: 1.11111rem 0;
  clear: both;
}

.newsDate {
  clear: right;
  width: 11.39394%;
  float: left;
  margin-bottom: 0.83333rem;
}

.newText {
  float: right;
  width: 88.48485%;
  margin-bottom: 0.83333rem;
}
.newText:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.newText img {
  float: left;
  margin-right: 0.88889rem;
  margin-bottom: 0.88889rem;
}
.newText a {
  color: #28357a;
  font-family: 'futuraNewBook Req';
  text-decoration: underline;
}
.newText a:hover {
  text-decoration: none;
}

.newsRedH3 {
  color: #dd1f26;
  padding-top: 0;
}

.newsBlueH3 {
  color: #28357a;
  padding-top: 0;
}

.showNews {
  text-align: center;
  position: relative;
  clear: both;
  margin-top: 2.72222rem;
}
.showNews a {
  color: #28357a;
  font-family: 'futuraNewDemi Req';
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 0 1.11111rem;
  text-decoration: underline;
}
.showNews a:hover {
  text-decoration: none;
}
.showNews h3 {
  font-size: 1.22222rem;
  color: #28357a;
  font-family: 'futuraNewHeavy Req';
  background: #fff;
  position: relative;
  display: inline-block;
  padding: 0 1.11111rem;
  z-index: 3;
  text-transform: uppercase;
  margin-bottom: 3.33333rem;
}
.showNews .lineGray {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.72222rem;
  margin: 0;
  z-index: 2;
}

.map {
  width: 100%;
  height: 20.16667rem;
  border: 0;
  border-top: 3px solid #b93236;
}

.addressLeft {
  float: left;
  width: 70.86331%;
  padding-right: 1.11111rem;
}

.addressRight {
  float: right;
  width: 29.13669%;
}
.addressRight:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.addressRight p {
  font-size: 0.88889rem;
}
.addressRight > div {
  font-size: 0.66667rem;
  color: #6b6b6b;
}
.addressRight > div p {
  font-size: 0.77778rem;
  line-height: 0.77778rem;
  color: #323232;
  margin-top: 1.11111rem;
  margin-bottom: 0.27778rem;
}
.addressRight > div p:first-child {
  margin-top: 0;
}
.addressRight > div:first-of-type {
  margin-right: 0.88889rem;
  float: left;
}
.addressRight > div:last-of-type {
  float: right;
  width: calc( 100% - (0.88889rem + 33px));
}

.times {
  height: 33px;
  width: 33px;
  display: inline-block;
}

.form, .formInquiry {
  margin-top: 8.33333rem;
}
.form h2, .formInquiry h2 {
  font-size: 2rem;
  color: #323232;
  font-family: 'futuraNewDemi Req';
}
.form form, .formInquiry form {
  margin-top: 2.5rem;
  display: block;
  width: 100%;
}
.form form label, .formInquiry form label {
  width: 100%;
  font-family: 'futuraNewDemi Req';
  font-size: 0.77778rem;
  height: 2.05556rem;
  line-height: 2.05556rem;
}
.form form label:after, .formInquiry form label:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.form form input, .formInquiry form input, .form form textarea, .formInquiry form textarea {
  width: calc(100% - 10.55556rem);
  float: right;
  display: block;
  height: 2.05556rem;
  line-height: 2.05556rem;
  border: 1px solid #b1b1b1;
  box-shadow: 0 0 0.44444rem rgba(0, 0, 0, 0.2);
  border-radius: 0.16667rem;
  padding: 0 0.83333rem;
}

.btn {
  font-size: 1.38889rem;
  color: #fff;
  background: #df0000;
  border-radius: 0.16667rem;
  display: table;
  padding: 0.55556rem 1.27778rem;
  font-family: 'futuraNewDemi Req';
  cursor: pointer;
  margin-top: 2.22222rem;
  margin-left: 10.55556rem;
}
.btn:hover {
  background: #ff1313;
}

.formInquiry {
  margin-top: 1.11111rem;
}
.formInquiry .formInquirySub:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.formInquiry .formInquirySub label {
  display: block;
  width: calc(100% - 10.55556rem);
  float: right;
}
.formInquiry .formInquirySub input:first-child {
  width: 58.73544%;
  float: left;
}
.formInquiry .formInquirySub input:last-child {
  width: 32.27953%;
  float: right;
}
.formInquiry .formInquiryNote {
  font-size: 0.77778rem;
  line-height: 2.05556rem;
  font-family: 'futuraNewDemi Req';
}
.formInquiry .formInquiryNote:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.formInquiry .formInquiryNote div {
  width: 10.55556rem;
  float: left;
}
.formInquiry .formInquiryNote div:first-child {
  width: 10.55556rem;
  float: left;
}
.formInquiry .formInquiryNote div:last-child {
  float: left;
  color: #a3a3a3;
  font-size: 0.77778rem;
  line-height: 2.05556rem;
  font-family: 'futuraNewBook Req';
  margin-left: 1.11111rem;
}
.formInquiry .formInquiryNote input {
  float: left;
  width: 7.77778rem;
}

.width60p {
  width: 60%;
}

.underline {
  text-decoration: underline;
  font-family: 'futuraNewDemi Req';
  font-size: 0.94444rem;
}

.officeAddress:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.officeAddress div:first-of-type {
  width: 47%;
  float: left;
  margin-left: 6%;
}
.officeAddress div:last-of-type {
  width: 47%;
  float: right;
  margin-right: 0;
}
.officeAddress .officeAddressCity {
  font-size: 1.16667rem;
  font-family: 'futuraNewDemi Req';
}
.officeAddress .officeAddressRegime {
  font-size: 0.88889rem;
  font-family: 'futuraNewDemi Req';
  margin: 0;
}
.officeAddress .officeAddressOpeningHours {
  color: #6b6b6b;
  font-size: 0.88889rem;
  margin-bottom: 1.11111rem;
}
.officeAddress .officeAddressWeekend {
  font-size: 1.05556rem;
  font-family: 'futuraNewDemi Req';
  color: #e90404;
}

.newTextBold {
  color: #757575;
  font-family: 'futuraNewDemi Req';
  font-size: 0.83333rem;
}

.newsNewH2Blue {
  color: #28357a;
  font-size: 0.88889rem;
  font-family: 'futuraNewDemi Req';
  text-transform: uppercase;
}

.banner {
  width: 100%;
  background: #f0f1f6;
  box-shadow: 0 0.16667rem 1px #e0e0e0;
  margin-top: 1.11111rem;
  margin-bottom: 2.77778rem;
}
.banner:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.bannerLeft {
  width: 62.5%;
  float: left;
  padding-top: 1.44444rem;
  padding-left: 1.44444rem;
}
.bannerLeft h1 {
  font-family: 'futuraNewBold Req';
  font-size: 4.5rem;
  line-height: 2.33333rem;
  color: #262262;
}
.bannerLeft p {
  font-family: 'futuraNewBold Req';
  font-size: 2.55556rem;
  margin-bottom: 2.44444rem;
  color: #262262;
}
.bannerLeft a {
  font-size: 0.88889rem;
  color: #262262;
  font-family: 'futuraNewDemi Req';
  text-decoration: underline;
  text-transform: uppercase;
}
.bannerLeft a:hover {
  text-decoration: none;
}

.bannerInsureMax {
  width: 449px;
  height: 29px;
  display: block;
}

.bannerContribution {
  float: right;
  display: block;
  width: 441px;
  height: 225px;
  margin-top: 0.83333rem;
}

.banerContainer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.banerFooter {
  width: 100%;
  display: block;
  text-align: center;
}
.banerFooter:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.bannerIcon {
  width: 892px;
  height: 64px;
  display: inline-block;
  margin: 0.83333rem 0;
}

.bannerLine {
  width: 100%;
  height: 2px;
  background: #e2e4ed;
  clear: right;
  position: relative;
  z-index: 1;
  margin-top: 0.55556rem;
}

.indexFooter {
  color: #262626;
  font-family: 'futuraNewBold Req';
  margin-bottom: 2.77778rem;
}
.indexFooter:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.indexFooter h4 {
  margin-bottom: 1.66667rem;
  font-size: 1.27778rem;
  text-transform: uppercase;
}
.indexFooter ul {
  margin-left: 1.11111rem;
}
.indexFooter .indexFooterSpan {
  width: 20%;
  float: left;
  padding: 0 0.27778rem;
}
.indexFooter .indexFooterSpan:nth-of-type(1) h4, .indexFooter .indexFooterSpan:nth-of-type(1) span, .indexFooter .indexFooterSpan:nth-of-type(5) h4, .indexFooter .indexFooterSpan:nth-of-type(5) span {
  color: #dd1f26;
}
.indexFooter .indexFooterSpan:nth-of-type(1) .indexFooterOf, .indexFooter .indexFooterSpan:nth-of-type(5) .indexFooterOf {
  color: #b0b0b0;
  font-size: 0.55556rem;
}
.indexFooter .indexFooterSpan:nth-of-type(2) h4, .indexFooter .indexFooterSpan:nth-of-type(2) span, .indexFooter .indexFooterSpan:nth-of-type(4) h4, .indexFooter .indexFooterSpan:nth-of-type(4) span {
  color: #28357a;
}
.indexFooter .indexFooterSpan:nth-of-type(2) .indexFooterOf, .indexFooter .indexFooterSpan:nth-of-type(4) .indexFooterOf {
  color: #b0b0b0;
  font-size: 0.55556rem;
}
.indexFooter .indexFooterSpan:nth-of-type(3) {
  color: #b0b0b0;
}
.indexFooter .indexFooterSpan:nth-of-type(3) h4, .indexFooter .indexFooterSpan:nth-of-type(3) span {
  color: #1e1e1e;
}
.indexFooter .indexFooterSpan:nth-of-type(3) .indexFooterOf {
  color: #b0b0b0;
  font-size: 0.55556rem;
}

.indexFooterContainer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
