@font-face {
    font-family: 'futuraNewDemi Req'; 
    src: url('../fonts/FuturaNewDemi.otf'); 
   }
@font-face {
    font-family: 'futuraNewLiqht Req'; 
    src: url('../fonts/FuturaNewLight.otf'); 
   }
@font-face {
    font-family: 'futuraNewBold Req'; 
    src: url('../fonts/FuturaNewBold.otf'); 
   }
@font-face {
    font-family: 'futuraNewMedium Req'; 
    src: url('../fonts/FuturaNewMedium.otf'); 
   }
@font-face {
    font-family: 'futuraNewBook Req'; 
    src: url('../fonts/FuturaNewBook.otf'); 
   }

* {
    box-sizing: border-box;
    // overflow: hidden;
}

html {
    font-size: $fz * 1px;
}

body {
    color: #323232;
    line-height:  1.3 ;
    background: #fff;
     font-family: 'futuraNewLiqht Req'; 
}

h1 {
    float: left;
    display: block;
    color: #dd1f26;
    font-size: 36 / $fz * 1rem;
    font-family: 'futuraNewDemi Req'; 
}

h2 {
    margin-top: 45 / $fz * 1rem;
    color: #253172;
    font-size: 19 / $fz * 1rem;
    padding-bottom: 18 / $fz * 1rem;
    border-bottom: #e8e8e8 solid 1px;
}

.sitebarLeft h3 {
    color: #323232;
    font-size: 14 / $fz * 1rem;
    position: relative;
    font-family: 'futuraNewDemi Req'; /* Имя шрифта */

}

 article p {
    margin: (20 / $fz * 1rem)  0;
}

article a {
	color: #323232;
	@include hover-link;
}

   
