@import "compass";
@import "compass/reset";
@import "susy";
@import "lib/_mixin.scss";
// @import "lib/_colors_variables.scss";
@import "_var.scss";
@import "_general.scss";
@import "spr/*.png";
@each $name in minus, minusRed, close, down, evro, insure, logoMin, point, search, tel, up, usd, times {
    .#{$name} {
        @include spr-sprite(#{$name});
    }
}

.container {
    @include container;
    min-width: ($WContainer / $fz) * 1rem;
}

.headerTop, .headerBottom {
    text-align: center;
    a {
        text-decoration: none;
        display: block;
    }
}

.headerTop, {
    height: 50 / $fz *1rem;
    line-height: 50 / $fz *1rem;
    box-shadow: 0 1px (5 / $fz * 1rem) rgba(#000, .13);
    color: #8d8d8d;
    text-transform: uppercase;
    a {
        font-size: 17 / $fz * 1rem;
        color: #8d8d8d;
        @include hover-link;
    }
}

.headerNav {
    @include span(8);
    li {
        @include span( 1 of 5);
        border-left: 1px solid #f8f8f8;
        &:last-child {
            border-right: 1px solid #f8f8f8;
        }
    }
}

.headerSubNav {
    @include span(7);
}

.searchMain, .city {
    @include span( 1 of 2);
    border-right: 1px solid #f8f8f8;
    // position: relative;
    i {
        // position: absolute;
        display: inline-block;
    }
}

.city {
    font-size: 14 / $fz * 1rem;
    // font-family: 'Times New Roman', Times, serif;
    @include cf;
    p {
        display: block;
        // line-height: 14 / $fz * 1rem;
        float: left;
        // margin-top: 18 /  $fz * 1rem;
    }
    span {
        display: block;
        font-size: 21 / $fz * 1rem;
        color: #000;
        font-family: 'futuraNewDemi Req';
    }
}

.search {
    height: 15 / $fz * 1rem;
    width: 15 / $fz * 1rem;
    margin-right: 10 / $fz * 1rem;
}

.triangle {
    height: 0;
    width: 0;
    border: 6px transparent solid;
    border-top-color: #000;
    display: inline-block;
    // display: block;
}

.city {
    border-left: 1px solid #f8f8f8;
    .triangle {
        border-top-color: #000;
        vertical-align: middle;
        margin-left: 6 / $fz * 1rem;
    }
}

.headerMiddle {
    height: 140 / $fz * 1rem;
    // width: ($WContainer  / $fz) * 1rem; 
    figure {
        @include span(7);
        padding-top: ((135 - 104) / $fz) / 2 * 1rem;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.contact {
    width: 15rem;
    height: 80 / $fz * 1rem;
    margin-top: ( 43 / $fz) * 1rem;
    float: right;
    text-align: right;
    font-family: 'futuraNewDemi Req';
    span, p {
        display: block;
        margin: 0;
    }
    span {
        color: #c8c8c8;
        line-height: 19 / $fz * 1rem;
        font-size: 15 / $fz * 1rem;
        // margin-bottom: ( 10 / $fz) * 1rem;
    }
    p {
        color: #000;
        font-size: 25 / $fz * 1rem;
        margin: 0;
        // margin-top: 15 / $fz * 1rem;
    }
    div {
        display: block;
        float: left;
    }
    @include cf;
}

.tel {
    height: 70 / $fz * 1rem;
    width: 70 / $fz * 1rem;
    margin-bottom: ((80 - 70) / $fz) / 2 * 1rem;
    display: block;
    float: right;
}

.menuHeaderBottom {
    border-bottom: 4px solid #cc3333;
    font-family: 'futuraNewDemi Req';
    @include cf;
    .triangle {
        border-top-color: #fff;
        // margin: 20 / $fz * 1rem  20 / $fz * 1rem;
        margin-bottom: -3 / $fz * 1rem;
        margin-left: 13 / $fz * 1rem;
        // margin-top: 5 / $fz * 1rem;
    }
    li {
        @include span(3);
        height: 54 / $fz * 1rem;
        line-height: 54 / $fz * 1rem;
        font-size: 20 / $fz * 1rem;
        position: relative;
        border-left: 1px solid #575e87;
        &:last-child {
            border-right: 1px solid #575e87;
        }
    }
    a {
        background: #28357a;
        color: #fff;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .75), 0 0 5px rgba(#fff, .16);
        &:hover {
            background: #ce1d23;
            // background: #dd1f26;
        }
    }
    .subHeaderBottom {
        top: 54 / $fz * 1rem;
        right: 0;
        left: 0;
        position: absolute;
        border-bottom: none;
        width: 100%;
        font-family: 'futuraNewMedium Req';
        li {
            // height: 54 / $fz * 1rem;
            height: auto;
            line-height: 14 / $fz * 1rem;
            font-size: 14 / $fz * 1rem;
            border-bottom: 1px solid #575e87;
            clear: left;
            display: block;
            width: 100%;
            &:last-child {
                border-bottom: none;
            }
        }
        a {
            background: #28357a;
            color: #fff;
            text-align: left;
            text-shadow: 0 2px 2px rgba(0, 0, 0, .75), 0 0 5px rgba(#fff, .16);
            padding: (15 / $fz * 1rem) (25 / $fz * 1rem);
            &:hover {
                background: #ce1d23;
                // background: #dd1f26;
            }
        }
    }
}

.title {
    @include cf;
    height: 70 / $fz * 1rem;
    line-height: 70 / $fz * 1rem;
    border-bottom: 1px solid #e8e8e8;
}

.Breadcrumbs {
    float: right;
    font-size: 13 / $fz * 1rem;
    text-transform: uppercase;
    a {
        @include hover-link;
        color: #323232;
        margin: 0 (10 / $fz * 1rem);
        &:last-child {
            margin-right: 0;
        }
    }
}

.sitebarLeft {
    @include span(4);
    menu {
        padding-left: 28 / $fz * 1rem;
        padding-top: 26 / $fz * 1rem;
    }
    ul {
        padding-left: 20 / $fz * 1rem;
        font-size: 13 / $fz * 1rem;
        line-height: 23 / $fz * 1rem;
        font-family: 'futuraNewBook Req';
    }
    li {
        position: relative;
    }
    a {
        @include hover-link;
        color: #323232;
    }
}

.minus {
    display: inline-block;
    position: absolute;
    left: - 20 / $fz * 1rem;
    top: 23 / 2 / $fz * 1rem;
    height: 1px;
    width: 8 / $fz * 1rem;
}

.activeSitebarLeft {
    a {
        color: #000;
    }
    .minus {
        @extend .minusRed;
    }
}

.point {
    height: 6 / $fz * 1rem;
    width: 6 / $fz * 1rem;
    display: inline-block;
    position: absolute;
    left: (-7 + -6) / $fz * 1rem;
    top: 3 / $fz * 1rem;
}

.currency {
    text-transform: uppercase;
    margin-top: 57 / $fz * 1rem;
    &:first-child {
        margin-top: 25 / $fz * 1rem;
    }
    @include cf;
    p {
        font-size: 16 / $fz * 1rem;
        color: #333366;
        margin: 0;
        font-family: 'futuraNewBook Req';
    }
    span {
        font-size: 11 / $fz * 1rem;
        color: #9b9b9b;
        font-family: 'futuraNewBook Req';
    }
    table {
        margin-top: 20 / $fz * 1rem;
        font-size: 22/ $fz * 1rem;
        color: #323232;
        text-align: right;
    }
    th, td {
        position: relative;
        margin-bottom: 10 / $fz * 1rem;
        padding-right: 20 / $fz * 1rem;
        padding-left: 25 / $fz * 1rem;
    }
    td:first-child {
        width: 125 / $fz * 1rem;
        text-align: left;
        padding-left: 49 / $fz * 1rem;
    }
    td {
        text-align: center;
    }
    th {
        font-size: 11 / $fz * 1rem;
        line-height: 26 / $fz * 1rem;
        color: #969696;
        width: 73 / $fz * 1rem;
    }
}

.usd, .evro {
    position: absolute;
    display: inline-block;
    height: 18 / $fz * 1rem;
    width: 27 / $fz * 1rem;
    left: 0;
    bottom: 5 / $fz * 1rem;
}

.down, .up {
    position: absolute;
    display: inline-block;
    height: 9 / $fz * 1rem;
    width: 13 / $fz * 1rem;
    right: 0;
    bottom: 10 / $fz * 1rem;
}

.lineBlue {
    height: 2px;
    background: #333366;
    $lb: (180 / $fz * 1rem);
    width: calc(100% - 8.7rem);
    margin-top: -10 / $fz * 1rem;
    float: right;
}

article {
    @include span(11);
    padding-top: 21 / $fz * 1rem;
    padding-left: 49 / 860 * 100%;
    padding-bottom: 80 / $fz * 1rem;
    @include cf;
}

footer {
    @include span(15);
    @include cf;
    font-size: 12/ $fz * 1rem;
    margin-bottom: 58 / $fz * 1rem;
    font-family: 'futuraNewBold Req';
}

.preFooter {
    text-align: center;
    position: relative;
    margin-bottom: 43 / $fz * 1rem;
    font-family: 'futuraNewLiqht Req';
    a {
        display: inline-block;
        @include hover-link;
        color: #1c1c1c;
        font-size: 15 / $fz * 1rem;
        margin-left: 25 / $fz * 1rem;
        &:first-child {
            margin-left: 0;
        }
    }
}

.above {
    display: table;
    margin: 0 auto;
    background: #fff;
    z-index: 2;
    position: relative;
}

.line {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 11 / $fz * 1rem;
    z-index: 0;
    background: #d7d9e6;
}

.middleFooter1 {
    @include span(4);
    p {
        color: #28357a;
        font-size: 14 / $fz * 1rem;
    }
    span {
        color: #8c8c8c;
        line-height: 16/ $fz * 1rem;
    }
}

.middleFooter2 {
    @include span(4);
    padding-left: 53 / $WContainer * 100%;
}

.logoMin {
    height: 26 / $fz * 1rem;
    width: 136 / $fz * 1rem;
}

.middleFooter3 {
    @include span(7 last);
    color: #28357a;
    text-transform: uppercase;
    font-family: 'futuraNewLiqht Req';
}

.bottomFooter1 {
    @include span(4 before);
    clear: left;
    margin-top: 22 / $fz * 1rem;
    a {
        color: #262262;
    }
    address {
        display: inline-block;
    }
}

.bottomFooter2 {
    @extend .middleFooter2;
    margin-top: 30 / $fz * 1rem;
}

.insure {
    height: 30px;
    width: 194px;
}

.bottomFooter3 {
    margin-top: 30 / $fz * 1rem;
    @include span(3);
    span {
        color: #28357a;
        text-decoration: underline;
    }
}

.bottomFooter4 {
    @extend .bottomFooter3;
    @include span(4 last);
}

//  ark_template_arend.psd
.important {
    font-size: 22 / $fz * 1rem;
    // line-height: (22*1.5) / $fz * 1rem;
    font-family: 'futuraNewDemi Req';
    &:first-child {
        margin-top: 0;
    }
}

.tabs {
    margin-top: 33 / $fz * 1rem;
    .tabsTitle {
        border-bottom: #e8e8e8 solid 1px;
        margin-bottom: 15 / $fz * 1rem;
        li {
            font-size: 23 / $fz * 1rem;
            line-height: 23 / $fz * 1rem;
            display: inline-block;
            padding-right: 28 / $fz * 1rem;
            margin-top: 35 / $fz * 1rem;
            padding-bottom: 15 / $fz * 1rem;
            font-family: 'futuraNewDemi Req';
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.tabs_container {
    a {
        font-size: 15 / $fz * 1rem;
        line-height: 30 / $fz * 1rem;
        display: inline-block;
    }
}

.activeTabs {
    a {
        color: #dd1f26;
    }
}

// ark_template_dohodni_vl
.dohodniVi {
    font-family: 'futuraNewDemi Req';
    > tbody > tr {
        border-bottom: 1px solid #e8e8e8;
        line-height: 16 / $fz * 1rem;
        &:last-child {
            border-bottom: none;
        }
        &:first-child {
            td {
                font-size: 22 / $fz * 1rem;
            }
        }
        > th {
            font-size: 15 / $fz * 1rem;
            line-height: 16 / $fz * 1rem;
            width: 320 / 881 * 100%;
            padding: (16 / $fz * 1rem) 0;
            padding-right: 16 / $fz * 1rem;
            font-family: 'futuraNewLiqht Req';
        }
        > td {
            font-size: 14 / $fz * 1rem;
            line-height: 14 / $fz * 1rem;
            color: #000;
            padding: (16 / $fz * 1rem) 0;
        }
    }
    table {
        width: 100%;
        thead {
            font-family: 'futuraNewLiqht Req';
            text-transform: uppercase;
            font-size: 11 / $fz * 1rem;
        }
        th {
            width: auto;
            color: #dd1f26;
            font-family: 'futuraNewDemi Req';
            font-size: 14 / $fz * 1rem;
            line-height: 14 / $fz * 1rem;
            padding: (10 / $fz * 1rem) 0;
        }
        td:first-child {
            width: 145 / 541 * 100%;
        }
        tr {
            // padding-left: .5rem;
        }
        td {
            font-size: 14 / $fz * 1rem;
            line-height: 14 / $fz * 1rem;
            color: #000;
            padding: (12 / $fz * 1rem) 0;
            padding-right: 0.5rem;
        }
    }
}

.importantUp {
    font-size: 19 / $fz * 1rem;
    font-family: 'futuraNewDemi Req';
    margin: 48 / $fz * 1rem 0;
}

.insurance {
    font-size: 15 / $fz * 1rem;
    line-height: 20 / $fz * 1rem;
    @include cf;
    img {
        float: left;
        margin-right: (16 / $fz * 1rem);
        margin-bottom: (16 / $fz * 1rem);
    }
}

// ark_template_chast.psd
.linkRed {
    margin-left: 0;
    a {
        color: #dd1f26;
        font-size: 23 / $fz * 1rem;
        line-height: 41 / $fz * 1rem;
        font-family: 'futuraNewDemi Req';
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.footnote {
    font-size: 15 / $fz * 1rem;
    line-height: 20 / $fz * 1rem;
}

.importantBlue {
    font-family: 'futuraNewDemi Req';
    color: #232f6c;
}

.lineGray {
    background: #e8e8e8;
    height: 1px;
    margin: (20 / $fz * 1rem) 0;
    clear: both;
}

// news
// 825 95
.newsDate {
    clear: right;
    width: 94 / 825 *100%;
    float: left;
    margin-bottom: (15 / $fz * 1rem);
    // margin-top: 0;
}

.newText {
    float: right;
    width: 100 - (95 / 825 *100%);
    margin-bottom: (15 / $fz * 1rem);
    // margin-top: 0;
    @include cf;
    img {
        float: left;
        margin-right: (16 / $fz * 1rem);
        margin-bottom: (16 / $fz * 1rem);
    }
    a {
        color: #28357a;
        font-family: 'futuraNewBook Req';
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.red {
    color: #dd1f26;
}

.blue {
    color: #28357a;
}

.showNews {
    text-align: center;
    position: relative;
    clear: both;
    margin-top: 49 / $fz * 1rem;
    a {
        // text-transform: uppercase;
        color: #28357a;
        font-family: 'futuraNewDemi Req';
        background: #fff;
        position: relative;
        z-index: 3;
        padding: 0 20 / $fz * 1rem;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .lineGray {
        position: absolute;
        left: 0;
        right: 0;
        top: 13 / $fz * 1rem;
        margin: 0;
        z-index: 2;
    }
}

// ark_template_cont.psd 
//  591 834
.map {
    // height: auto;
    width: 100%;
    height: 363 / $fz * 1rem;
    border: 0;
    border-top: 3px solid #b93236;
}

.addressLeft {
    float: left;
    width: 591 / 834 *100%;
    padding-right: 20 / $fz * 1rem;
}

.addressRight {
    float: right;
    width: 100 - (591 / 834 *100%);
    @include cf;
    p {
        font-size: 16 / $fz * 1rem;
    }
    > div {
        font-size: 12 / $fz * 1rem;
        color: #6b6b6b;
        p {
            font-size: 14 / $fz * 1rem;
            line-height: 14 / $fz * 1rem;
            color: #323232;
            margin-top: 20/ $fz * 1rem;
            margin-bottom: 5/ $fz * 1rem;
            &:first-child {
                margin-top: 0;
            }
        }
        &:first-of-type {
            margin-right: 16 / $fz * 1rem;
            float: left;
        }
        &:last-of-type {
            float: right;
            width: calc( 100% - (0.88889rem + 33px));
        }
    }
}

.times {
    height: 33px;
    width: 33px;
    display: inline-block;
}

// $wi: 186 /    $fz * 1rem;
.form {
    margin-top: 150 / $fz * 1rem;
    h2 {
        font-size: 36 / $fz * 1rem;
        color: #323232;
        font-family: 'futuraNewDemi Req';
    }
    form {
        margin-top: 45 / $fz * 1rem;
        display: block;
        width: 100%;
        label {
            width: 100%;
            font-family: 'futuraNewDemi Req';
            font-size: 14 / $fz * 1rem;
            height: 37 / $fz * 1rem;
            line-height: 37 / $fz * 1rem;
            @include cf;
        }
        input, textarea {
            width: calc(100% - #{190  /   $fz * 1rem});
            float: right;
            display: block;
            height: 37 / $fz * 1rem;
            line-height: 37 / $fz * 1rem;
            border: 1px solid #b1b1b1;
            box-shadow: 0 0 (8 / $fz * 1rem) rgba(#000, .2);
            border-radius: 3/ $fz * 1rem;
            padding: 0 (15/ $fz * 1rem);
        }
    }
}

.btn {
    font-size: 25 / $fz * 1rem;
    color: #fff;
    background: #df0000;
    border-radius: 3/ $fz * 1rem;
    display: table;
    padding: (10/ $fz * 1rem) (23/ $fz * 1rem);
    font-family: 'futuraNewDemi Req';
    cursor: pointer;
    margin-top: 40 / $fz * 1rem;
    margin-left: 190 / $fz * 1rem;
    &:hover {
        background: lighten(#df0000, 10%);
    }
}

// ark_template_zapros.psd
.formInquiry {
    @extend .form;
    margin-top: 20 / $fz * 1rem;
    .formInquirySub {
        @include cf;
        label {
            display: block;
            width: calc(100% - #{190  /   $fz * 1rem});
            float: right;
        }
        input {
            &:first-child {
                // 353 601
                width: 353 / 601 * 100%;
                float: left;
            }
            &:last-child {
                // 353 601
                width: 194 / 601 * 100%;
                float: right;
            }
        }
    }
    .formInquiryNote {
        @include cf;
        font-size: 14 / $fz * 1rem;
        line-height: 37 / $fz * 1rem;
        font-family: 'futuraNewDemi Req';
        div {
            &:first-child {
                width: 190 / $fz * 1rem;
                float: left;
            }
            &:last-child {
                float: left;
                color: #a3a3a3;
                font-size: 14 / $fz * 1rem;
                line-height: 37 / $fz * 1rem;
                font-family: 'futuraNewBook Req';
                margin-left: 20 / $fz * 1rem;
            }
            width: 190 / $fz * 1rem;
            float: left;
        }
        input {
            float: left;
            width: 140 / $fz * 1rem;
        }
    }
}

//  ark_template_usl.html
//  830 537 
.width60p {
    width: 60%;
}

.underline {
    text-decoration: underline;
    font-family: 'futuraNewDemi Req';
    font-size: 17 / $fz * 1rem;
}

.officeAddress {
    @include cf;
    div {
        &:first-of-type {
            @include span(50% - 3%);
            margin-left: gutters(6%);
        }
    }
    div {
        &:last-of-type {
            @include span(50% - 3% last);
        }
    }
    .officeAddressCity {
        font-size: 21 / $fz * 1rem;
        font-family: 'futuraNewDemi Req';
    }
    .officeAddressRegime {
        font-size: 16 / $fz * 1rem;
        font-family: 'futuraNewDemi Req';
        margin: 0;
    }
    .officeAddressOpeningHours {
        color: #6b6b6b;
        font-size: 16 / $fz * 1rem;
        margin-bottom: 20 / $fz * 1rem;
    }
    .officeAddressWeekend {
        font-size: 19 / $fz * 1rem;
        font-family: 'futuraNewDemi Req';
        color: #e90404;
    }
}
